@font-face {
    font-family: 'Lato';
    src: url(../fonts/lato-regular.ttf);
}



body {
    font-family: 'Lato', sans-serif!important;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Lato', sans-serif;
}

/*

HEADER

*/

header.jumbotron{
	position: relative;
	background: #2ECC71 url(../img/data-center.png) no-repeat center fixed; 
	background-size: cover; 
	position: relative;
	padding-right: 0;
	overflow: hidden;
	height: 100vh;
	margin-bottom: 0;
	z-index: 999;
}

header p{
  letter-spacing: 10px;
}

.cover{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  color: #fff;
  padding-top: 200px;
}

.cover h1, 
.cover h2{
  color: #fff;
}

.cover > h2{
  margin-top: 20vh;
  font-size: 36pt;
}

.cover > * {
  margin: 20px auto;
}

.cover > .btn{
  margin-top: 45px;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  font-size: 36pt;
  width: 100%;
  text-align: center;
  left: 0;
}


.btn-hg {
    padding: 13px 20px;
  font-size: 22px;
  line-height: 1.227;
}

/*

NAVIGATION

*/
#main-nav{
	background-color: #fff;
	margin-bottom: 0;
}

.affix{
	width: 100%;
	top: 0;
	margin-bottom: 0;
	-webkit-transition: top 0.5s ease-in-out;
	-webkit-transition-delay: 0.5s;
	transition: top 0.5s ease-in-out;
	transition-delay: 0.5s;  
	z-index: 995;
}

#navLinks li.active > a{
	background-color: #fff;
	border-bottom: 2px solid #E05123;
}

nav {
  top: -55px;
  -webkit-transition: top 0.7s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition: top 0.7s ease-in-out;
  transition-delay: 0.2s;
}
.affix + #about{
	margin-top: 55px;
}

/*

ABOUT SECTION

*/


.about-top-heading {
    margin-bottom: 90px;
    text-align: center;
}
 .outer-bound-about {
    min-height: 442px;
    position: relative;
}
.left-section-about{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.feature-middle-about {
    margin: 50px 0;
}
.img-responsive-about{
	display: block;
    max-width: 100%;
    height: auto;
}

#about h4{
	font-size: 24pt;
}

@media(min-width: 992px){
	#about h4{
		text-align: left;
	}
}

@media(max-width: 992px){
	.feature-about p{
		text-align: center;
	}
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}


.read-more-wrap {
  padding: 2%;
  color: #333346;
  border-radius: .25em;
  margin-top: 10%;

}
.sr-only-about{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.about-quote{
	margin: 50px auto;
}


/*

PROJECTS SECTION

*/

#projects{
	height: 100vh;
	text-align: center
}
.projects-heading{
	height: 15vh;
	position: relative;
}
.projects-heading h1{
	position: absolute;
	width: 100%;
	bottom: 10px
}

#proj-1{
  background: url(../img/projects/quick-bg.png) no-repeat center fixed;
}
#proj-2{
  background: url(../img/projects/img7.jpg) no-repeat center fixed;
}
#proj-3{
  background: url(../img/projects/img6.jpg) no-repeat center fixed;
}

#projects .carousel-inner .item{
  background-size: cover;
  height: 85vh;
  width: 100%;
}

#projects .carousel-caption p{
  margin-bottom: 50px;
  font-size: 14pt;
}

#projects .carousel-inner .cover{
  background-color:  rgba(0,0,0,0.5);
}

#projects .btn{
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}

/*


Services


*/
#services{
	display: table;
	background-color: #ebebe9;
    color: #797979!important;
}


#services > div{
	margin: 100px auto;
}

.srv-container{
	display: table;
	width: 100%;
	table-layout: fixed;
	margin: 15px 0 15px 0;
}

.srv-title {
	display: table-cell;
	width: 100px;
	color: #136B29;
}

.srv-underline{
	display: table-cell;
	border-bottom: 2px solid #136B29;
	width: 10%;
	position: relative;
	top: -20px;
}
#services ul{

	margin-left: -40px;
}
#services ul li{
	list-style-type: none;
}

.srv-subtitle{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	height: 50px;
}

.srv-images{
	width: 90px;
	height: 100px;
	margin-bottom: 10px;
}

.srv-bot{
	border: 2px solid #E05123;
	width: 40%;
	margin-left: 30%;
	text-align: center;
}

.srv-box{
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 5px 5px 15px #9E9E9D;
}

#srv-container ul li{
	margin-bottom: 25px;
}

.srv-text{
	height: 70px;
	color: #000;
}

.srv-white{
	color: white;
}

.srv-hr-white{
	border: 2px solid white;
}



/*


Data Center Solution


*/



#data-center{
	background: #fcfcf0 url(../img/data-center/data-center-bg.jpg) no-repeat center fixed;
	background-size: cover;
	text-shadow: 2px 2px 10px #000;
	color: #fff;
	font-size: 12pt;
	height: 100vh;
	display: table;
	width: 100%;
	position: relative;
	font-family: 'Lato';
}

#data-center h1{
	margin: 100px auto 50px auto;
}

#data-center h3{
	margin: 20px auto 5vh;
}
.data-center-item{
	background-color: rgba(0,0,0,0.7);
	height: 35vh;
	margin-bottom: 50px;
}
.data-center-item img{
	border-top: 50px solid transparent;
}
.data-center-btn{
	position: absolute;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	left: 50%;
	margin-left: -70px;
	bottom: 15vh;
}
.dt-more{
	z-index: 10;
}
.data-center-more{	
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: 0;
	width: 100px;
	height: 100px;
	color: #fff;
}
.data-center-polygon{
	position: absolute;
	border-width: 200px 50vw 200px 50vw;
	border-color: transparent #fff transparent #fff;
	border-style: solid;
	width: 0;
	bottom: -200px;
	left: 0;
	z-index: 9;
}

#dt-less{
	
}

@media(max-width: 400px){

	.solutions > div{
		width: 25%;
	}

	.data-center-item{
		height: auto;
	}

	.data-center-item img{
		border-top: none;
		width: 100%;
	}

	.data-center-polygon{
		border-color: transparent;
	}
	.data-center-btn{
		bottom: 75px;
	}

}




/*

	RFID

*/



.rfid{
	background-color:  #fff;
	padding-top: 200px;
    color: #202125;
    width: 100%;
}

.rfid .features{
	padding-top: 30px;
	padding-bottom: 50px;
}

.rfid .feature{
	margin-top: 50px;
}

.rfid .feature h4{
  text-transform: uppercase;
}

.rfid-heading h4{
	margin-top: 20px;
}

.hvr-backward{
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px transparent;
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform
}

.feature:hover .hvr-backward{
    -webkit-transform:translateX(-18px);
    transform:translateX(-18px);
}

.feature:hover .hvr-backward,
.feature:hover h4{
	color: #1B6A2C;
}

.rfid-img{
  width: 100px;
}

@media(min-width: 992px){
  .rfid-img{
    margin-left: -40px;
  }
}

#rfid1{
  background: url(../img/rfid/box-fade.png) 100px no-repeat;
  background-size: 150px;
}
#rfid2{
  background: url(../img/rfid/home-fade.png) 100px no-repeat;
  background-size: 150px;
}
#rfid3{
  background: url(../img/rfid/manage-fade.png) 100px no-repeat;
  background-size: 150px;
}
#rfid4{
  background: url(../img/rfid/rfid-fade.png) 100px no-repeat;
  background-size: 150px;
}

/*

SUPPORRT

*/


.supp-parallax{
	min-height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../img/support/laptop.png');
	color: #f2f2f2;
}

.supp-title {
	color: #2ecc71
}

.supp-text{
	color: #333;
}

.supp-parallax h4{
	font-weight: bold;
	color: #333;
}

.supp-box{
	border: 1px solid #f3f3f9;
	border-radius: 5px;
	padding: 20px;
	background: white;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
	margin-bottom: 25px;
	height: 160px;
}

.supp-icons{
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	color: #fff;
}

/*RIPPLE OUT*/
.supp-inner-border{
	padding: 20px;
	margin-top: 18px;
	background-color: #2ecc71;
	display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px transparent;
    position:relative;
}

.supp-inner-border:before{
    content:'';
    position:absolute;
    border: 4px solid #2ecc71;
	border-radius: 50%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    animation-duration:1s;
    animation-iteration-count: infinite;
}

.supp-inner-border:active:before,.supp-inner-border:focus:before,.supp-inner-border:before{
    -webkit-animation-name:hvr-ripple-out;
    animation-name:hvr-ripple-out
}

@-webkit-keyframes hvr-ripple-out{
    100%{
        top:-12px;
        right:-12px;
        bottom:-12px;
        left:-12px;
        opacity:0;
    }
}
@keyframes hvr-ripple-out{
    100%{
        top:-12px;
        right:-12px;
        bottom:-12px;
        left:-12px;
        opacity:0;
    }
}
/*RIPPLE OUT*/

.fa-5x-custom{
	font-size: 5.5em;
}

@media only screen and (max-width: 991px) {
    .supp-icons{
    	font-size: 2.7em!important;
    }

    .supp-center{
    	margin-top: 20px;
    }

    .supp-box{
    	height: 180px!important;
    }
}

@media only screen and (max-width: 767px) {
    .supp-icons{
    	font-size: 2em!important;
    }

    .supp-center{
    	margin-bottom: 25px;
    	margin-top: 0px;
    }

    .supp-box{
    	height: 130px!important;
    }
}

@media only screen and (max-width: 458px) {
    .supp-box{
    	height: 170px!important;
    }

    .supp-parallax h4{
    	font-size: 16px!important;
    }
}

/*

CLIENTS

*/
.owl-nav {
  display: none;
}
.client-item {
  height: 100px;
  width: 100%;
  color: #fff;
  position: relative;
}
.client-item img {
  height: 90%;
  width: 90%;
  vertical-align: middle;
} 

.client-box {  
    background-image: url("../img/clients/clients.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px; 
}

.client-title {
  margin-top: 2%;
  font-size: 20px;
  color: #484848;
  text-align: center;
  width: 100%
}

#demos .owl-carousel .client-item {

  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
#demos .owl-carousel .client-item::after {

  transition: opacity 0.5s ease-in-out;
  opacity: 0.5;
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #db4218;
  transition: width .3s;
}

#demos .owl-carousel .client-item:hover::after {
    width: 100%;

}

#demos .owl-carousel .client-item:hover {
  opacity: 1;
 
}

/*

FOOTER

*/


.footer{
	background-color: #156828;
	color: white;
	padding: 25px;
	overflow: hidden;
}

.footer-icons{
	color: #F68E56;
}

.footer-icons:hover{
color: #F87934;
}

.footer-icons {
    text-align: left;
}

@media only screen and (max-width: 991px) {
    body {
    text-align: center;
    }
}

.hvr-grow{
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px transparent;
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform
}
.hvr-grow:active,.hvr-grow:focus,.hvr-grow:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
}

.footer-links{
	color: #31ca8a;
	text-decoration: underline;
}

.footer-links:hover{
	color: #F68E56;
}

.footer-message-open{
	color: #fff;
	font-size: 20px;
	background-color: #F68E56;
}

.footer-message-open:hover{
	color: #164D23;
	background-color: #F87934; 
}

@-webkit-keyframes hvr-pulse{
    25%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    75%{
        -webkit-transform:scale(0.9);
        transform:scale(0.9)
    }
}

@keyframes hvr-pulse{
    25%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    75%{
        -webkit-transform:scale(0.9);
        transform:scale(0.9)
    }
}

.hvr-pulse{
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px transparent
    -webkit-animation-name:hvr-pulse;
    animation-name:hvr-pulse;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}

.anim-slow{
	animation-duration: 1.5s!important;
}

.footer-message{
	width: 300px;
	height: auto;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
	border-radius: 5px;
	position: fixed;
	bottom: 0;
	right: -300px;
}

.footer-message-header{
	padding: 15px;
	background-color: #F68E56;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.footer-message-footer{
	padding: 10px;
	background-color: #F68E56;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.footer-message-footer .footer-links{
	color: #fff;
}

.footer-message-content{
	padding: 15px;
	background-color: white;
	color: #333;
}

.footer-message-close{
	cursor: pointer;
}

footer .col-md-12{
	color: #739077;
}

footer .col-md-4 h2{
	color:  #ffffff;
	font: normal 36px 'Lato', cursive;
	margin: 0;
}

footer .col-md-4 h2 span{
	color: #F68E56;
}

.footer .col-md-10{
	margin-bottom: 10px!important;
}


